img {
    opacity: 1;
    display: block;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 2px solid black;
    border-radius: 200px;
    width: 15%;
    height: 15%;
}

h1 {
    font-size: 30pt;
    text-align: center; 
    text-decoration: underline;
    letter-spacing: 3px;
    line-height: 100px;
}

#nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.842);
    margin-bottom: 20px;
}

.linkedin {
    color: white;
}

.github {
    color: white;
}

h2 {
    text-decoration: underline;
    text-align: center;
    background-color: whitesmoke;
}

body {
    background-image: url(https://storage.googleapis.com/needpix-storage/rsynced_items/panorama-940490_1280.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1500px;
    background-attachment: fixed;
}

p {
    text-align: center;
    border: 10px black;
    border-width: 5px;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    margin: auto auto auto auto;
    background-color: rgb(255, 255, 255);
    opacity: rgba(0, 151, 19, 0.1);
}

ul {
    text-align: center;
    background-color: whitesmoke;
    opacity: rgba(0, 151, 19, 0.1);
}

ol {
    text-align: center;
    background-color: whitesmoke;
    opacity: rgba(0, 151, 19, 0.1);
}

#artists {
    display: inline-block;
    margin-left: 250px;
    margin-top: 50px;
    border: 5px black;
    border-width: 40%;
}

#experience {
    display: inline-block;
    margin-top: 50px;
    margin-left: 250px;
    border: 5px black;
    border-width: 40%;
}